job_specifications:
- id: {{ sra_accession }}-genome-recovery-job
  remove_container_after_exit: true
  max_task_retries: 1
  environment_variables:
    ACCESSION: {{ sra_accession }}
    MEM: 112
    CPU_L: 4
    CPU_M: 8
    CPU_H: 14
    MIN_READ_LEN: 50
    KEEP_RAW_READS: 0
    KEEP_CLEAN_READS: 0
  tasks:
    - id: {{ sra_accession }}-genome-recovery-task
      docker_image: aiforearth2020/genome_recovery
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/genome_recovery.sh
          file_path: genome_recovery.sh
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/checkm_mimag.py
          file_path: checkm_mimag.py
      command: /bin/bash genome_recovery.sh
      output_data:
        azure_storage:
          - storage_account_settings: data
            remote_path: data/sample
            local_path: $AZ_BATCH_TASK_WORKING_DIR/{{ sra_accession }}
