job_specifications:
- id: {{ sra_accession }}-genome-recovery-job
  shared_data_volumes:
    - datablob_vol
  environment_variables:
    CLEAN: 'false'
  tasks:
    - id: {{ sra_accession }}-download-task
      docker_image: metashot/sra-toolkit:2.10.7-2
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/download.sh
          file_path: download.sh
      command: /bin/bash download.sh {{ sra_accession }}

    - id: {{ sra_accession }}-clean-task
      docker_image: metashot/bbtools:38.79-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/clean.sh
          file_path: clean.sh
      command: /bin/bash clean.sh {{ sra_accession }}
      depends_on:
        - {{ sra_accession }}-download-task

    - id: {{ sra_accession }}-spades-task
      docker_image: metashot/spades:3.14.0-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/assemble_spades.sh
          file_path: assemble_spades.sh
      command: /bin/bash assemble_spades.sh {{ sra_accession }}
      depends_on: 
       - {{ sra_accession }}-clean-task
      exit_conditions:
        default:
          exit_options:
            job_action: none
            dependency_action: satisfy

    - id: {{ sra_accession }}-megahit-task
      docker_image: metashot/megahit:1.2.9-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/assemble_megahit.sh
          file_path: assemble_megahit.sh
      command: /bin/bash assemble_megahit.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-spades-task
      exit_conditions:
        default:
          exit_options:
            job_action: none
            dependency_action: satisfy
    
    - id: {{ sra_accession }}-map-bowtie2-task
      docker_image: metashot/bowtie2:2.3.4.3-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/map_bowtie2.sh
          file_path: map_bowtie2.sh
      command: /bin/bash map_bowtie2.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-megahit-task
    
    - id: {{ sra_accession }}-map-samtools-task
      docker_image: metashot/htslib:1.9-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/map_samtools.sh
          file_path: map_samtools.sh
      command: /bin/bash map_samtools.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-map-bowtie2-task
    
    - id: {{ sra_accession }}-bin-task
      docker_image: metashot/metabat2:2.12.1-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/bin.sh
          file_path: bin.sh
      command: /bin/bash bin.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-map-samtools-task
    
    - id: {{ sra_accession }}-prok-qual-task
      docker_image: metashot/checkm:1.1.2-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/prok_qual.sh
          file_path: prok_qual.sh
      command: /bin/bash prok_qual.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-bin-task
    
    - id: {{ sra_accession }}-prok-mimag-task
      docker_image: metashot/utils:1.0.0-1
      resource_files:
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/prok_mimag.sh
          file_path: prok_mimag.sh
        - blob_source: https://raw.githubusercontent.com/compmetagen/AIforEarth2020/master/shipyard/scripts/checkm_mimag.py
          file_path: checkm_mimag.py
      command: /bin/bash prok_mimag.sh {{ sra_accession }}
      depends_on: 
        - {{ sra_accession }}-prok-qual-task
